.welcome-screen h1,
.welcome-screen button {
  position: relative;
  z-index: 1;
}

.welcome-screen h1 {
  margin-bottom: 10px;
  font-size: 3.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.welcome-screen h2 {
  position: relative;
  margin-bottom: 50px;
  font-size: 1.75em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

  .welcome-screen-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .welcome-screen-buttons button {
    padding: 20px 30px;
    background-color: var(--main);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Basic box shadow */
  }
  
  
  .welcome-screen-buttons button:hover,
  .welcome-screen-buttons button:focus {
    background-color: var(--light);
  }

@media (max-width: 768px) {
  .welcome-screen h1 {
    font-size: 3em;
  }
  .welcome-screen h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .welcome-screen h1 {
    font-size: 2em;
    margin-bottom: 5px;
  }
  .welcome-screen h2 {
    font-size: 1em;
    margin-bottom: 30px;
  }
  .background-screen-buttons {
    gap: 10px;
    }
    .background-screen-buttons button {
    padding: 20px; 
    font-size: 0.8rem;
    }
}
