.settings-screen h1 {
    position: relative;
    z-index: 1;
    font-size: 3.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
    margin-top: -200px;
  }

  .settings-screen button {
    position: relative;
    padding: 15px 30px;
    background-color: var(--main);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Basic box shadow */
  }
  
  
  .settings-screen button:hover,
  .settings-screen button:focus {
    background-color: var(--light);
  }

  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .settings-screen h1 {
      font-size: 2.5em; /* Smaller font size for h1 */
    }
  }
  
  /* Further adjustments for very small screens */
  @media (max-width: 480px) {
    .settings-screen h1 {
      font-size: 2em; /* Even smaller font size for h1 */
    }
  }
  