.settings-screen h1 {
    position: relative;
    margin-bottom: 40px;
    margin-top: -200px; /* Consider adjusting or removing this negative margin for smaller screens */
  }
  
  .settings-screen button {
    position: relative;
    padding: 15px 30px;
    background-color: var(--main);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .settings-screen button:hover,
  .settings-screen button:focus {
    background-color: var(--light);
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .settings-screen h1 {
      font-size: 2.5em; /* Smaller font size for h1 */
    }
  
    .settings-screen button {
      padding: 10px 20px; /* Slightly smaller padding for buttons */
    }
  }
  
  /* Further adjustments for very small screens */
  @media (max-width: 480px) {
    .settings-screen h1 {
      font-size: 2em; /* Even smaller font size for h1 */
      margin-bottom: 20px; /* Reduced bottom margin */
    }
  
    .settings-screen button {
      padding: 8px 15px; /* Further reduce padding for very small screens */
      font-size: 0.9rem; /* Slightly smaller font size for buttons */
      margin: 10px 0; /* Add margin to separate buttons if stacked */
    }
  }
  