.post-screen {
    position: relative;
    width: 100%; /* take full width */
    max-width: 500px;
    margin: 2rem auto; /* Adjusted to give more space on the top */
    text-align: center; /* Center the title */
  }
  
  .post-screen-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post-screen-buttons button {
    background-color: var(--main);
    color: #fff;
    border: none;
    border-radius: 20px; /* Rounded corners */
    padding: 10px 15px;
    margin: 10px 0; /* Space between buttons */
    width: 80%; /* Button width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .post-screen-buttons button:hover,
  .post-screen-buttons button:focus {
    background-color: var(--light);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  