  .loading-indicator {
    text-align: center;
    margin-top: 50px;
    color:#fff;
  }
  
  .posts-list {
    display: flex;
    flex-direction: column;
  }
  
  .post-item {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

  }
  
  .post-title {
    font-size: 1.5em;
    color: var(--dark);
    font-family: "QuickSand";
    font-weight: bold;
  }
  
  .post-description {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
    font-family: "QuickSand";
    font-weight: normal;
    text-align: left;
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-type {
    font-style: italic;
    color: var(--main);
  }
  
  .post-date {
    font-size: 0.9em;
    font-style: italic;
    color: var(--main);
  }
  
  .edit-button {
    background-color: var(--main);
    color: var(--white);
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .edit-button:hover {
    background-color: var(--light);
  }

  .form-container {
    background-color: var(--background);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150%;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 60vh; /* Max height to ensure it's within the viewport */
    position: relative; /* Needed for centering */
  }
  .view-posts-screen {
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers its children (including .form-container) horizontally */
    padding: 20px;
    width: 100%; /* Ensure it takes the full width */
  }
  .post-item .post-image {
    width: 100%; /* Make the image take up the full width of its container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 8px; /* Optional: if you want the image to have rounded corners like the container */
    margin-bottom: 15px; /* Add some space between the image and the rest of the post content */
  }

  .link-button {
    padding: 10px 20px;
    background-color: var(--main);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
    margin: 10px 0;
  }
  
  .link-button:hover,
  .link-button:focus {
    background-color: var(--light);
  }

  /* Responsive adjustments */
@media (max-width: 1000px) {
  .form-container {
    padding: 20px;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .form-container {
    padding: 15px;
    max-width: 90%; /* Use more screen width for very small devices */
  }

}
